Python/Env/
Reading/

# LaTeX junk
Report/report.aux
Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.out
Report/report.synctex.gz
Report/report.toc
Report/report_template.zip

Poster/baposter.cls
Poster/poster.aux
Poster/poster.fdb_latexmk
Poster/poster.fls
Poster/poster.log
Poster/poster.out
Poster/poster.synctex.gz
Poster/poster.zip

Proposal/proposal.aux
Proposal/proposal.fdb_latexmk
Proposal/proposal.fls
Proposal/proposal.log
Proposal/proposal.out
Proposal/proposal.synctex.gz
